<!doctype html>
<html lang="en" ng-app="tipApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Tipliste</title>
    <!--<link rel="stylesheet" href="css/tips.css">-->
    <link rel="stylesheet/less" href="css/tips.less">
    <script src="js/less-1.5.0.min.js" type="text/javascript"></script>
    <script src="js/jquery/jquery-1.10.2.js"></script>

    <script src="js/rgraph/libraries/RGraph.common.core.js" ></script>
    <script src="js/rgraph/libraries/RGraph.common.dynamic.js" ></script>
    <script src="js/rgraph/libraries/RGraph.common.tooltips.js" ></script>
    <script src="js/rgraph/libraries/RGraph.line.js" ></script>
    <script src="js/rgraph/libraries/RGraph.scatter.js" ></script>
    <script src="js/rgraph/libraries/RGraph.common.key.js" ></script>
    <script src="js/rgraph/libraries/RGraph.common.effects.js" ></script>
    <!--[if lt IE 9]><script src="js/rgraph/excanvas/excanvas.js"></script><![endif]-->

    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-resource.js"></script>
    <script src="js/tips.js"></script>
</head>
<body>

<div id="mainTipList" ng-controller="tipController">
    <div>
        Zum Filtern in Zelle von Gruppe oder Datum klicken.
        Zum Sortieren in den Gruppenkopf klicken.
        Mit Links- bzw. Rechts-Tasten Spielrunde ändern. <br>
        Done: {{done}} - {{nrMatches}} Spiele
        <input type="text" ng-model="maxSeq"/>
    </div>
    <div id="tipDataChart">
        <canvas id="lineRankHist" width="600" height="300">Canvas not supported by Browser</canvas>
    </div>
    <div id="matchSelector">
        <span ng-repeat="seq in matchSequence"
              ng-class="{matchDisplayed:seq<=maxSeq}"
              ng-click="$parent.maxSeq=seq">{{seq}}</span>
    </div>
    <div id="tipNameNavigation">
        Tipper: {{tippers.length}}<br>

        <div id="namesSelectedDiv">
            <div class="name2Select"
                 ng-repeat="tipper in tippersSelected | orderBy:'Name'"
                 ng-dblclick="tipperUnselected(tipper)">{{tipper.Name}}
            </div>
        </div>
        <div id="names2SelectDiv">
            <div class="name2Select"
                 ng-repeat="tipper in tippers | orderBy:'Name'"
                 ng-dblclick="tipperSelected(tipper)">
                <span ng-show="showName(tipper)">{{tipper.Name}}</span>
            </div>
        </div>
        <div>
            Filter:<input type="text" ng-model="searchName"/>
        </div>
    </div>
    <div id="data">
        <table class="nameTip tableTipListData">
            <tr>
                <th ng-click="setSorter('Seq')">
                    <div>#<img src="{{sortIcon['Seq']}}"/></div>
                </th>
                <th ng-click="setSorter('Gruppe')">
                    <div>Gruppe<img src="{{sortIcon['Gruppe']}}"/></div>
                </th>
                <th ng-click="setSorter('Datum')">
                    <div>Datum<img src="{{sortIcon['Datum']}}"/></div>
                </th>
                <th ng-click="setSorter('TeamA')">
                    <div>Spiel<img src="{{sortIcon['TeamA']}}"/></div>
                </th>
                <th ng-click="setSorter('Shot')">
                    <div>Ergebnis<img src="{{sortIcon['Shot']}}"/></div>
                </th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Rang</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Punkte</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Tendenz</td>
            </tr>
            <tr ng-repeat="match in matches | filter:filterMatches | orderBy:sortCol | storeSequence:this">
                <td class="tipDescrSeq">{{match.Seq}}</td>
                <td class="tipDescrGroup" ng-click="showOnlyGroup(match)">{{match.Gruppe}}</td>
                <td class="tipDescrDate" ng-click="showOnlyDate(match)">{{match.DatumString}}</td>
                <td class="tipDescrMatch" ng-class="{highlight:doHighlight($index)}">{{match.TeamA}} - {{match.TeamB}}
                </td>
                <td ng-class="styleResultClass(match)">{{match.Shot}}:{{match.Received}}</td>
            </tr>
            <tr ng-repeat="semi in semis">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{semi.DatumString}}</td>
                <td>Semi{{$index+1}}</td>
                <td>{{semi.Name}}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{champ.DatumString}}</td>
                <td>Champ</td>
                <td>{{champ.Name}}</td>
             </tr>
            <tr ng-repeat="extra in extras">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{extra.Name}}</td>
                <td>{{extra.Val}}</td>
            </tr>
        </table>

        <table class="nameTip tableTipListData" ng-repeat="tipper in tippersSelected | orderBy:'Name'">
            <tr>
                <th>{{tipper.Name}}</th>
            </tr>
            <tr>
                <td>{{tipper.History[maxSeq-1].R}}.</td>
            </tr>
            <tr>
                <td>{{tipper.History[maxSeq-1].P}}</td>
            </tr>
            <tr>
                <td data-tip-tendency data-tendency-val="{{tipper.History[maxSeq-1].T}}"></td>
            </tr>
            <tr ng-repeat="tip in tipper.Tips | orderAndFilterTips:this">
                <td tip-result tip-object="{{tip}}"></td>
            </tr>
            <tr ng-repeat="semi in tipper.Semis">
                <td ng-class="styleTipSemiCorrectClass(semi)">{{semi}}</td>
            </tr>
            <tr>
                <td ng-class="styleTipChampCorrectClass(tipper.Champ)">{{tipper.Champ}}</td>
            </tr>
            <tr ng-repeat="extra in tipper.Extras">
                <td>{{extra}}</td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>

